In [3]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
np.random.seed(12345)

In [4]:
dframe = DataFrame(np.random.randn(1000,4))

In [5]:
dframe.head()

          0         1         2         3
0 -0.511821  0.889835  1.611662 -2.249637
1 -0.872023  0.000286  2.215968  0.472561
2 -0.519821 -0.238778 -1.374035  0.192423
3 -0.838658 -1.021775  1.828064 -0.465586
4  1.993038 -1.133221 -1.344875  0.333573

In [6]:
dframe.tail()

            0         1         2         3
995 -0.882556 -1.961334 -1.367765 -0.067401
996  1.783344 -0.465329 -0.306652  0.082353
997  0.277212  0.867908  0.725095  1.687318
998  1.140282  0.425943  2.102803 -0.483111
999  0.097661 -0.061132  0.960579 -0.159788

In [7]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.005713     0.014686     0.000521     0.017899
std       1.014384     0.968775     0.980472     0.989380
min      -3.623912    -2.721016    -4.070950    -3.475867
25%      -0.653510    -0.643707    -0.660064    -0.629969
50%      -0.010562    -0.007645    -0.016288     0.003767
75%       0.675449     0.647726     0.701645     0.699797
max       3.528117     3.097785     3.523286     3.058211

In [8]:
col = dframe[0]

In [9]:
col

0     -0.511821
1     -0.872023
2     -0.519821
3     -0.838658
4      1.993038
5     -0.495900
6     -0.219698
7     -3.402650
8     -0.704470
9     -1.653757
10    -0.447007
11     2.039893
12    -0.305234
13    -0.508681
14     0.021479
15     0.084331
16    -0.450069
17     0.901079
18     0.527383
19    -0.430239
20    -0.348207
21     1.844266
22    -1.191393
23    -1.291143
24    -1.196082
25    -0.915306
26    -0.940583
27    -0.236639
28    -0.024804
29     0.063040
         ...
970   -1.436745
971    1.068156
972   -0.871046
973   -3.623912
974    1.799525
975    0.043129
976   -0.300413
977   -1.281243
978    0.187394
979    1.903359
980   -0.496870
981    2.435254
982   -1.629426
983   -0.373781
984    0.684307
985   -0.496166
986   -0.749320
987   -1.130800
988   -0.784589
989   -1.495316
990   -1.171954
991   -0.032372
992   -0.768808
993   -0.704096
994    2.374073
995   -0.882556
996    1.783344
997    0.277212
998    1.140282
999    0.097661
Name: 0, dtype: float64

In [10]:
col.head()

0   -0.511821
1   -0.872023
2   -0.519821
3   -0.838658
4    1.993038
Name: 0, dtype: float64

In [11]:
col[np.abs(col)>3]

7     -3.402650
86     3.528117
796    3.343028
973   -3.623912
Name: 0, dtype: float64

In [12]:
dframe[(np.abs(dframe)>3).any(1)]

            0         1         2         3
7   -3.402650 -0.903373 -0.473658  0.212199
86   3.528117  0.304207 -0.304953 -0.641137
266  0.988974  3.097785  0.184101 -1.096769
307  1.211809  1.536434  3.523286 -0.029146
436  1.500373  0.854804  3.309909  1.627477
582  0.587184 -0.571533  0.025536 -3.475867
678 -1.099937 -0.043403 -4.070950  0.720119
796  3.343028  0.491673 -0.564831  2.145373
809 -0.402158  0.505735 -1.217988  3.058211
973 -3.623912 -0.554147  0.658025  0.754918

In [13]:
dframe[(np.abs(dframe)>3)] = np.sign(dframe)*3

In [14]:
dframe

            0         1         2         3
0   -0.511821  0.889835  1.611662 -2.249637
1   -0.872023  0.000286  2.215968  0.472561
2   -0.519821 -0.238778 -1.374035  0.192423
3   -0.838658 -1.021775  1.828064 -0.465586
4    1.993038 -1.133221 -1.344875  0.333573
5   -0.495900  0.593555 -0.488349 -1.303104
6   -0.219698 -1.014308 -0.380785 -0.365591
7   -3.000000 -0.903373 -0.473658  0.212199
8   -0.704470  0.041250  2.573931  0.681885
9   -1.653757  2.297797 -1.456424  0.902672
10  -0.447007  1.207089  0.135884  0.101613
11   2.039893 -1.324806 -1.653684 -0.271873
12  -0.305234 -0.045540  0.412707  0.111092
13  -0.508681  1.294558 -0.118998 -0.615087
14   0.021479 -0.870212  0.674549  1.522207
15   0.084331  1.004211  0.001044 -0.517603
16  -0.450069  0.044896  1.157443 -0.379615
17   0.901079 -0.994609 -0.187877  0.197860
18   0.527383 -0.432544 -0.737492  0.685545
19  -0.430239 -0.635266  0.117781 -0.214368
20  -0.348207  0.368565 -0.611881 -0.883478
21   1.844266  0.310165  1.193526  1.187533
22  -1.191393  0.330296 -0.699556 -1.286562
23  -1.291143  0.291957  2.072350  0.735136
24  -1.196082 -0.606198 -0.660894  1.200592
25  -0.915306 -0.290867 -1.026340  0.555995
26  -0.940583  1.718567 -0.247140  0.033451
27  -0.236639  1.189394 -1.218250  0.450423
28  -0.024804  1.357341 -0.765510 -0.097429
29   0.063040  0.642521 -0.096078 -1.083473
..        ...       ...       ...       ...
970 -1.436745  0.478290  0.263098  0.376561
971  1.068156  0.657559  0.944050  0.873166
972 -0.871046  2.349726  1.240867  0.417732
973 -3.000000 -0.554147  0.658025  0.754918
974  1.799525  0.414816 -1.060941  1.259903
975  0.043129  2.223228 -1.271214 -0.339924
976 -0.300413 -1.361776 -0.595414 -0.112315
977 -1.281243  2.261207 -0.685697  1.752064
978  0.187394  0.665532 -0.525737 -0.445340
979  1.903359 -0.234069  1.312362  0.150770
980 -0.496870 -0.973608 -1.122626  0.576220
981  2.435254  0.782008  1.763126  0.802222
982 -1.629426  0.940451 -1.148253  1.536434
983 -0.373781  0.562777 -0.391658  0.806517
984  0.684307 -0.441214  0.783695 -0.042396
985 -0.496166 -0.572136  0.103380  0.260984
986 -0.749320  0.620580 -0.776391 -0.526984
987 -1.130800  1.036043  0.298587 -2.268504
988 -0.784589 -1.039583 -1.017677 -0.519487
989 -1.495316 -0.093384 -1.008092  1.223569
990 -1.171954  0.627855 -1.003675 -0.663493
991 -0.032372  0.407163 -0.042407  1.924555
992 -0.768808 -0.809903 -1.085645 -1.081733
993 -0.704096  1.000980  1.316852  0.080731
994  2.374073  0.228622  0.399925 -0.273318
995 -0.882556 -1.961334 -1.367765 -0.067401
996  1.783344 -0.465329 -0.306652  0.082353
997  0.277212  0.867908  0.725095  1.687318
998  1.140282  0.425943  2.102803 -0.483111
999  0.097661 -0.061132  0.960579 -0.159788

[1000 rows x 4 columns]

In [15]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.005868     0.014588     0.000759     0.018317
std       1.008279     0.968469     0.973843     0.987634
min      -3.000000    -2.721016    -3.000000    -3.000000
25%      -0.653510    -0.643707    -0.660064    -0.629969
50%      -0.010562    -0.007645    -0.016288     0.003767
75%       0.675449     0.647726     0.701645     0.699797
max       3.000000     3.000000     3.000000     3.000000