In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [3]:
DataFrame(np.arange(16).reshape(4,4))

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [39]:
animals = DataFrame(np.arange(16).reshape(4,4),columns=['W','X','Y','Z'],index=['Dog','Cat','Bird','Mouse'])

In [40]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [41]:
animals.ix[1:2,['W','Y']] = np.nan

In [42]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat   NaN   5 NaN   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [43]:
behavior_map = {'W':'good','X':'bad','Y':'good','Z':'bad'}

In [46]:
animals_col = animals.groupby(behavior_map,axis=1)

In [47]:
animals_col.sum()

       bad  good
Dog      4     2
Cat     12   NaN
Bird    20    18
Mouse   28    26

In [49]:
behave_series = Series(behavior_map)

In [50]:
behave_series

W    good
X     bad
Y    good
Z     bad
dtype: object

In [54]:
animals.groupby(behave_series,axis=1).count()

       bad  good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2

In [55]:
animals.groupby(len).sum()

    W   X   Y   Z
3   0   6   2  10
4   8   9  10  11
5  12  13  14  15