In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],'k2':['alpha','beta','alpha','beta','alpha'],'dataset1':np.random.randn(5),'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0  0.854723 -1.490553  X  alpha
1  0.964720 -0.046090  X   beta
2  1.875612 -0.699087  Y  alpha
3 -1.786566 -2.210193  Y   beta
4  0.641498 -0.510903  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [6]:
group1.mean()

k1
X    0.909721
Y    0.044523
Z    0.641498
Name: dataset1, dtype: float64

In [7]:
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
cities = np.array(['NY','LA','LA','NY','NY'])

In [9]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.964720
    JAN    1.875612
NY  FEB   -1.786566
    JAN    0.748110
Name: dataset1, dtype: float64

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.909721 -0.768322
Y   0.044523 -1.454640
Z   0.641498 -0.510903

In [11]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.854723 -1.490553
   beta   0.964720 -0.046090
Y  alpha  1.875612 -0.699087
   beta  -1.786566 -2.210193
Z  alpha  0.641498 -0.510903

In [12]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [16]:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0  0.854723 -1.490553  X  alpha
1  0.964720 -0.046090  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  1.875612 -0.699087  Y  alpha
3 -1.786566 -2.210193  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  0.641498 -0.510903  Z  alpha

In [19]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print'\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0  0.854723 -1.490553  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1   0.96472  -0.04609  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  1.875612 -0.699087  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -1.786566 -2.210193  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.641498 -0.510903  Z  alpha

In [20]:
group_dict = dict(list(dframe.groupby('k1')))

In [22]:
group_dict

{'X':    dataset1  dataset2 k1     k2
 0  0.854723 -1.490553  X  alpha
 1  0.964720 -0.046090  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  1.875612 -0.699087  Y  alpha
 3 -1.786566 -2.210193  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4  0.641498 -0.510903  Z  alpha}

In [23]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.854723 -1.490553  X  alpha
1  0.964720 -0.046090  X   beta