In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
df_left = DataFrame({'key':['x','y','z','x','y'],'data':range(5)})

In [3]:
df_left

   data key
0     0   x
1     1   y
2     2   z
3     3   x
4     4   y

In [4]:
df_right = DataFrame({'group_data':[10,20]},index=['x','y'])

In [5]:
df_right

   group_data
x          10
y          20

In [6]:
pd.merge(df_left,df_right,left_on='key',right_index=True)

   data key  group_data
0     0   x          10
3     3   x          10
1     1   y          20
4     4   y          20

In [7]:
df_left.join(df_right)

   data key  group_data
0     0   x         NaN
1     1   y         NaN
2     2   z         NaN
3     3   x         NaN
4     4   y         NaN