In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [3]:
# Pandas allows you to have multiple index

ser = Series(randn(6),index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a    1.159902
   b    0.519853
   c    0.218565
2  a   -1.748260
   b    1.082995
   c   -2.341522
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a    1.159902
b    0.519853
c    0.218565
dtype: float64

In [7]:
ser[2]

a   -1.748260
b    1.082995
c   -2.341522
dtype: float64

In [8]:
ser[:,'a']

1    1.159902
2   -1.748260
dtype: float64

In [9]:
dframe = ser.unstack()

In [10]:
dframe

          a         b         c
1  1.159902  0.519853  0.218565
2 -1.748260  1.082995 -2.341522

In [11]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LS','SF'],['cold','hot','cold','hot']])

In [13]:
dframe2

      NY       LS  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [14]:
dframe2.index.names['INDEX_1','INDEX_2']

TypeError: list indices must be integers, not tuple