In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

A series is like an array in numpy

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [6]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
ww2_cas['USA']

400000

We can check with array operations

In [8]:
# Check with countries had cas greater than 4 mill
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [9]:
# We can treat series as order dictionary
'USSR' in ww2_cas

True

In [10]:
# We can convert series into a dictionary

ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [13]:
ww2_series = Series(ww2_dict)

In [14]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [15]:
countries = ['China','Germany','Japan','USA','Argentina']

In [16]:
obj2 = Series(ww2_dict,index=countries)

obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
dtype: float64

In [17]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
Argentina     True
dtype: bool

In [18]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
Argentina    False
dtype: bool

In [19]:
obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
dtype: float64

In [20]:
ww2_series + obj2

Argentina        NaN
China        6000000
Germany      8600000
Japan        4200000
USA           800000
USSR             NaN
dtype: float64

In [21]:
obj2.name = "World War 2 Casualities"

obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
Name: World War 2 Casualities, dtype: float64

In [22]:
obj2.index.name = "Countries"

obj2

Countries
China        3000000
Germany      4300000
Japan        2100000
USA           400000
Argentina        NaN
Name: World War 2 Casualities, dtype: float64