In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
# Let's try to reindex

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
ser3.reindex(ranger,method='ffill')

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [14]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
# there are different methods like backward fill, forward fill (as above)

In [17]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [18]:
dframe

       col1      col2      col3      col4      col5
A  0.917001  1.422116 -0.466090  0.212995 -0.107061
B -0.916504 -0.897105 -0.980400  0.034389 -1.012182
D -0.240727  1.190051  0.950501  0.360931 -0.667818
E -0.498524  0.713924 -0.444019 -0.776468  1.343968
F -0.632612 -1.164603 -0.053603  0.757300 -0.784395

In [20]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [21]:
dframe2

       col1      col2      col3      col4      col5
A  0.917001  1.422116 -0.466090  0.212995 -0.107061
B -0.916504 -0.897105 -0.980400  0.034389 -1.012182
C       NaN       NaN       NaN       NaN       NaN
D -0.240727  1.190051  0.950501  0.360931 -0.667818
E -0.498524  0.713924 -0.444019 -0.776468  1.343968
F -0.632612 -1.164603 -0.053603  0.757300 -0.784395

In [22]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [23]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.917001  1.422116 -0.466090  0.212995 -0.107061   NaN
B -0.916504 -0.897105 -0.980400  0.034389 -1.012182   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.240727  1.190051  0.950501  0.360931 -0.667818   NaN
E -0.498524  0.713924 -0.444019 -0.776468  1.343968   NaN
F -0.632612 -1.164603 -0.053603  0.757300 -0.784395   NaN

In [24]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.917001  1.422116 -0.466090  0.212995 -0.107061   NaN
B -0.916504 -0.897105 -0.980400  0.034389 -1.012182   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.240727  1.190051  0.950501  0.360931 -0.667818   NaN
E -0.498524  0.713924 -0.444019 -0.776468  1.343968   NaN
F -0.632612 -1.164603 -0.053603  0.757300 -0.784395   NaN

In [25]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])